<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  <title>文件上传下载示例</title>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" th:href="@{//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <link rel="stylesheet" th:href="@{//cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css}">
  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script th:src="@{//cdn.bootcss.com/jquery/2.2.3/jquery.min.js}"></script>
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script th:src="@{//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="panel panel-primary">
  <!-- .panel-heading 面板头信息。 -->
  <div class="panel-heading">
    <!-- .panel-title 面板标题。 -->
    <h3 class="panel-title">文件上传下载示例：用户注册</h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form class="form-horizontal" action="register" enctype="multipart/form-data" method="post">
        <div class="form-group">
          <div class="input-group col-md-4">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control" placeholder="用户名" type="text" name="username" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group col-md-4">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input class="form-control" placeholder="请选择头像" type="file" name="headPortrait"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4">
            <div class="btn-group btn-group-justified" >
              <div class="btn-group" >
                <button type="submit" class="btn btn-success" id="submitbtn">
                  <span class="glyphicon glyphicon-share"></span>&nbsp;注册</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>